*{
    box-sizing: border-box;
}
h1{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
}
.Box{
    padding: 8px;
    background: gainsboro;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}
.mainTitle{
    background: gainsboro;
    text-align: center;
    margin: auto;
    padding: 15px;
}
.buttonCSS{
    width: 90%;
    margin: auto;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
}
.promptImage{
    height: 200px;
}.btnImg{
    height: 75px;
    justify-self: flex-start;
}
.btnContainer{
    width: 100%;
    text-align: center;
    margin: auto;
}
.js-restartBtn{
    width: 50%;
    margin: auto;
}
@media screen and (min-width: 700px){
    .mainTitle{
        background: gainsboro;
        display: flex;
        justify-content: space-between;
    }
    .Box{
        width: 80%;
    }
    .js-restartBtn{
        width: 90%;
        margin: auto;
    }
    .userFeedback *{
        margin: 8px;
    }
}
@media screen and (min-width: 1300px){
    .userFeedback{
        display: flex;
        flex-direction: row;
    }
    .userFeedback *{
        margin-left: 5px;
    }
    .innerContainer{
        display: flex;
        flex-direction: row;
    }
    .Box{
        margin: 8px;
    }
}