*{
    box-sizing: border-box;
}
.mainTitle{
    background: gainsboro;
    text-align: center;
    margin: auto;
    padding: 15px;
}
.prompt{
    background: gainsboro;
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.responses{
    background: gainsboro;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
    display: flex;
    flex-direction: column;
}
.promptPainting{
    height: 80%;
    margin: auto;
}
.responseBtn{
    margin: auto;
}
@media screen and (min-width: 700px){
    .mainTitle{
        background: gainsboro;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1300px){
    .userFeedback{
        display: flex;
        flex-direction: row;
    }
    .userFeedback *{
        margin-left: 5px;
    }
    .innerContainer{
        display: flex;
        flex-direction: row;
    }
}